/* need to create containers for each element and fix flexing for buttons; need to fix legend for income colors map and make markers the company's logo if possible */

/*general map style*/

* {
    font-family: georgia;
}

body {
    margin: 0;
    padding: 0;
}

#map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.mapboxgl-popup {
    font-size: 12px;
}

.mapboxgl-popup-content {
    padding: 10px;
}

/*sidebar - general styling*/

#sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    width: 400px;
    background: #e7e1c7de;
    padding: 10px;
    border-radius: 12px;
    border-color: #060505;

}

/*sidebar - top half of text*/

#sidebar h1 {
    font-size: 24px;
    text-align: center;
    color: #060505;
    letter-spacing: 1px;
}

#sidebar h3 {
    font-size: 13px;
    text-align: center;
    color: #060505;
}

#sidebar h4 {
    font-size: 15px;
    text-align: center;
    color: #060505;
    letter-spacing: 0px;
}

#sidebar p {
    font-size: 12px;
    text-align: left;
    padding: 2px;
    line-height: 15px;
    margin-bottom: 10px;
    color: #060505;
    border-radius: 5px;
}

#sidebar .header {
    display: flex;
}

#sidebar .source-code-link {
    text-decoration: none;
    font-size: 12px;
    color: #010101;
    line-height: 10px;
    margin-top: 5px;
    margin-bottom: 1px;
    text-decoration-line: underline;
}

#sidebar .description-text {
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    letter-spacing: .5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.stores h3 {
    font-size: 14px;
    text-align: center;
    color: #060505;
}

.header h1 {
    text-align: center;
}

/* style cholorpeth map legend */
.legend-container {
    max-width: 400px;
    max-height: 400px;
    display: inline-block;
    word-wrap: break-word;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px solid #000;
    padding: 10px;
}

.legend-key {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #000;
    font-size: 12px;
    margin-bottom: 10px;
}

.legend-key h3 {
    text-align: center;
    margin-right: 10px;
    padding: 5px;
    width: 20px;
    height: 20px;
}
.legend-key span {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
}

.legend-key span.color-box {
    margin-right: 5px; /* Adjust margin between color box and text */
}

.legend-key span.legend-text {
    flex: 5; /* Allow the text to take up remaining space */
}

/* Adjust color for each income range and add in box to the legend*/
.legend-key.color-1 {
    background-color: #d9f2d9;
}
.legend-key.color-2 {
    background-color: #9fdf9f;
}
.legend-key.color-3 {
    background-color: #66cc66;
}
.legend-key.color-4 {
    background-color: #39ac39;
}
.legend-key.color-5 {
    background-color: #339933;
}
.legend-key.color-6 {
    background-color: #267326;
}

/* styling buttons */
.buttons {
  background: #fff;
  backface-visibility: hidden;
  border-radius: .200rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-flex;
  font-family: Circular,Helvetica,sans-serif;
  font-size: .75 rem;
  font-weight: 500;
  letter-spacing: -.01em;
  line-height: 1;
  padding: .415rem 1.125rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttons:not(:disabled):hover {
  transform: scale(1.05);
}

.buttons:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.buttons:focus {
  outline: 0 solid transparent;
}

.buttons:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.buttons:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.buttons:focus:not(:focus-visible):before {
  border-width: 0;
}

.buttons:not(:disabled):active {
  transform: translateY(.125rem);
}

/* styling hover */
.aboutnta {
    position: absolute;
    display: none;
    background-color: #5f5d5d;
    border: 1.5px solid #000;
    padding: 10px;
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.2;
}